.divAbout {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navAbout {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.h1Loading {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  min-height: 100px;
  padding: 5rem;
  color: red;
  font-size: 1.65rem;
  border-radius: 1rem;
  border: solid green 1rem;
}

.divError {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem;
  font-size: 1.5rem;
  color: white;
}

.divError button {
  min-height: 48px;
  min-width: 48px;
  background-color: transparent;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: seagreen;
  text-align: center;
  text-decoration: overline;
  border-radius: 1rem;
}